.miparrafo {
    font-size: 20px;
    color: rgb(224, 233, 235);
    background-color: rgb(131, 62, 62);
}

.miboton {
    font-size: 20px;
    color: rgb(224, 233, 235);
    background-color: rgb(28, 223, 45);
}